// ### general variables
@import 'variables/sizes';
@import 'variables/colors';
@import 'variables/fonts';
@import 'variables/animation';

// tools - mixins
@import 'tools/mixin-set-breakpoints';
@import 'tools/mixin-grid-generator';
@import 'tools/mixin-set-font-size';

// tools & helper
@import 'vendor/normalizer';
@import 'vendor/contao-helper';

@import 'tools/helper';

// layouts
@import 'layout/grid';
@import 'layout/layout-container';
@import 'layout/page-header';
@import 'layout/page-footer';
@import 'layout/article';


// components - basic
@import 'components/basic-contents/buttons';
@import 'components/basic-contents/basic-contents';
@import 'components/basic-contents/form';
@import 'components/basic-contents/table';

@import 'components/searchbar';
@import 'components/slider';
@import 'components/accordion';
@import 'components/downloads';
@import 'components/gallery';
@import 'components/video';

@import 'components/misc';
@import 'components/news_and_events';
@import 'components/calendar';
@import 'components/comments';
@import 'components/listing';
@import 'components/login';
@import 'components/syndication';
@import 'components/rss-reader';
@import 'components/subscribe_unsubscribe';
@import 'components/faq';
@import 'components/lightbox';


// components - navigation
@import 'components/navigation/breadcrumb';
@import 'components/navigation/nav-main';
@import 'components/navigation/nav-meta';
@import 'components/navigation/nav-sidebar';
@import 'components/navigation/pagination';
@import 'components/navigation/article-list';
@import 'components/navigation/booknav';
@import 'components/navigation/sitemap';
@import 'components/navigation/newsmenu';

@import 'components/navigation/nav-toggle';


