$slider-breakpoint: lg;

.swiper {
  $parent: &;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;

  #{$parent}-wrapper {
    flex-basis: 100%;
  }

  #{$parent}-pagination {
    position: inherit;

    // Reset default SwiperJS styles
    bottom: unset;
    order: 2;
    width: auto;
    margin-top: unset;

    span {
      width: 1rem;
      height: 1rem;

      transition: background ease-in-out $t-animation--fast;
      opacity: 1;
      border-radius: 3rem;
      background: $c-gray--300;

      &:hover,
      &:focus-visible {
        background: $c-gray--500;
      }

      &[aria-current="true"] {
        background: $c-secondary--700;
      }

    }
  }

  #{$parent}-button-prev,
  #{$parent}-button-next {
    // Reset default SwiperJS styles
    position: inherit;
    right: auto;
    left: auto;
    width: 3rem;
    height: 3rem;
    margin-top: auto;

    border: none;
    outline: 0;
    padding-inline: 0;

    gap: 1rem;

    &:before {
      display: block;
      width: 3rem;
      height: 3rem;
      content: '';

      transition: background ease-in-out $t-animation--fast;
      border-radius: .25rem;
      background: $c-secondary--700 center center no-repeat;
    }

    &:hover,
    &:focus {
      &:before {
        background-color: $c-primary--500;
      }
    }

    &:focus-visible:before {
      border: 2px solid #3daee9;
    }

    &:after {
      // Unset default SwiperJS styles
      all: unset;
    }

  }

  #{$parent}-button-prev {
    order: 1;

    &:before {
      background-image: url('#{$img-path}/icons/caret-left--white.svg');
    }

    .header-image & {
      @include breakpoint(lg, max) {
        margin-left: $s-grid-outer-gutter--large;
      }
    }

  }

  #{$parent}-button-next {
    order: 3;

    &:before {
      background-image: url('#{$img-path}/icons/caret-right--white.svg');
    }

    .header-image & {
      @include breakpoint(lg, max) {
        margin-right: $s-grid-outer-gutter--large;
      }
    }
  }

  &-slide {
    display: flex;
    height: auto;

    background: $c-gray--100;

    // slider contents
    .content-text {
      display: flex;

      overflow: hidden;

      @include breakpoint(#{$slider-breakpoint}, max) {
        flex-direction: column;
        justify-content: space-between;
      }

      figure,
      .text-wrapper {
        @include breakpoint(#{$slider-breakpoint}) {
          flex: 1 1 50%;
        }
      }

      figure {
        @include breakpoint(#{$slider-breakpoint}) {
          order: 1;
        }
      }

      img {
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }

      .text-wrapper {
        @include set-font-size(text--md);

        padding: 2rem;

        @include breakpoint(md) {
          @include set-font-size(text--lg);

          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }

      .title {
        @extend .display-title-1;
        font-weight: 300;

        margin-block: 0 3rem;
      }
    }

    figure {
      margin: 0;
    }
  }
}
