$s-underline-size: .125rem;

.nav-main {

  // general linkformat
  :is(a, strong) {
    @include set-font-size(text--lg);

    position: relative;

    display: block;

    transition: color $t-animation--fast $s-animation--fkt, text-decoration $t-animation--fast $s-animation--fkt;

    color: $c-secondary--700;
    font-weight: 600;
    text-decoration: underline;
    text-decoration-thickness: .125rem;
    text-decoration-color: transparent;
    text-underline-offset: .35em;
  }

  a:is(:hover, :focus) {
    color: $c-primary--500;
  }

  :is(a.trail, strong) {
    color: $c-primary--500;
  }

  ul {
    width: 100%;
  }

  li {

    &.nav-expanded {

      > ul {
        display: flex;
      }

      > .btn-toggle-submenu:after {
        height: 2px;
      }

      > .level_3 {
        top: -50%;
        left: 100%;
        min-width: 200px;
      }
    }
  }

  .level_1 {
    gap: 0 $header--item-inline-gap;
    justify-content: flex-end;
    align-items: center;

    ul {
      display: none;
      flex-direction: column;

      :is(a, strong) {
        @include set-font-size(text--md);
      }
    }
  }
}

.btn-toggle-submenu {
  all: revert;

  position: absolute;
  top: 3px;
  right: 0;

  width: 44px;
  height: 44px;

  border: none;
  background: none !important;
  color: currentColor !important;

  cursor: pointer;
  z-index: 1;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: currentColor;
  }

  &:before {
    height: 2px;
    width: 50%;
  }

  &:after {
    height: 50%;
    width: 2px;
    transition: height 0.3s cubic-bezier(0.2, 0.6, 0.3, 1.1);
  }

  @include breakpoint(#{$bp--mobile}) {
    margin: auto;
    padding: 0;

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;

    width: 1em;
    height: 1em;

    &:before {
      width: 75%;
    }

    &:after {
      height: 75%;
    }
  }
}

// mobile
@include breakpoint(#{$bp--mobile}, max) {

  .nav-main {
    position: fixed;
    top: 7rem;
    bottom: 0;
    left: -100%;
    z-index: 50;

    display: flex;
    grid-area: mainbar;

    margin-inline-start: auto;

    width: 100%;

    background: $c-gray--50;
    transition: left $t-animation--fast $s-animation--fkt;

    .show-nav-mobile & {
      left: 0;
      overflow-y: auto;
    }

    :is(a, strong) {
      display: inline-block;
    }

    li {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      min-height: 30px;

      &:not(:last-child) {
        border-bottom: 1px solid rgba(0,0,0,.1);
      }

      > :is(a, strong) {
        padding: 10px 0;
        width: 100%;
      }

      &.submenu {
        position: relative;

        > :is(a,strong) {
          padding-right: 44px;
        }

        li:first-child {
          border-top: 1px solid rgba(0,0,0,.1);
        }
      }
    }

    .level_1 {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      overflow-y: auto;

      padding: 1.5rem;
    }

    .level_2 {

      li {
        padding: 0 10px;
      }
    }
  }
}

@include breakpoint(lg, max) {
  .nav-main {
    top: 13.375rem;
  }
}

@include breakpoint(sm, max) {
  .nav-main {
    top: 11.375rem;
  }
}

@include breakpoint(xs, max) {
  .nav-main {
    top: 5.0625rem;
  }
}

@include breakpoint(#{$bp--mobile}) {

  .nav-main {
    grid-area: mainbar;
    display: block;

    :is(a:hover, a:focus, a.trail, strong) {
      color: $c-secondary--900;
      text-decoration-color: $c-primary--500;;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      width: revert;

      ul {
        position: absolute;
        padding: 15px 0;
        min-width: 270px;
        background: #fff;
        box-shadow: 1px 2px 15px rgba(0, 0, 0, .1);
        gap: 1rem;
        z-index: 2; // Higher z-index due to Swiper

        li {
          padding: 0 15px;
        }

        .btn-toggle-submenu {
          right: 15px;
        }
      }
    }

    li {

      &.submenu {
        position: relative;
        padding-right: 18px;
      }
    }
  }
}

@media (forced-colors) {
  .btn-toggle-submenu:before,
  .btn-toggle-submenu:after {
    border: 1px solid currentColor;
  }
}

@include breakpoint(#{$bp--mobile}) {

  @media (forced-colors) {

    .nav-main {

      .level_2 {
        border: 1px solid currentColor;
      }
    }
  }
}
